@charset "utf-8";

.section#community {
    margin-top: 64px;
    /* width: 10; */
    /* height: 500px; */
    border: 5px solid #f00;
}

#main {
    display: flex;
    align-items: flex-start;

}
#main > .box {
    width:var(--aside-width);
    height:100vh;
    background:rgb(186, 255, 186);
    margin-right:50px;
}
















