/*-----------header------------*/
#headerWrap {
  width: 100%;
  border-bottom: black 2px solid;
}
#header {
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
  height: 64px;
  display: flex;
  justify-content: space-between;
}
#header .left-nav {
  width: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header .left-nav h1 {
  width: 115px;
  height: 28px;
  background: url(../img/logo.svg);
  margin-right: 30px;
  text-indent: -9999px;
}
#header .left-nav h1 a {
  display: block;
}
#header .left-nav .gnb {
  display: flex;
}
#header .left-nav .gnb li {
  display: flex;
  justify-content: center;
  width: 120px;
}
#header .left-nav .gnb .left-line {
  position: relative;
}
#header .left-nav .gnb .left-line:before {
  content: "";
  width: 1px;
  height: 10px;
  background: gray;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
#header .left-nav .gnb li a {
  font-size: var(--h-font-size);
  text-align: center;
}
#header .right-nav {
  width: 460px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#header .right-nav .gnb {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.right-nav .gnb li.search {
  display: flex;
  height: 35px;
  justify-content: space-between;
  align-items: center;
  border-radius: calc(35px / 2);  
  border: 1px solid black;
  margin-right: 50px;
}
.right-nav .gnb li.search button{
  display:block;
  margin-left: 10px;
  cursor: pointer;
}
.right-nav .gnb li.search button i {

}
.right-nav .gnb li.search button input {
  width: 100%;
  margin: 0 15px 0 5px;
  font-size: 14px;
  background:red;
}
.right-nav .gnb li.admin {
  width: 85px;
  border-radius: calc(35px / 2);
  text-align: center;
  line-height: 35px;
  font-size: 14px;
}
.right-nav .gnb li.login {
  border: 1px solid var(--main-color);
  margin-right: 15px;
  color: var(--main-color);
}
.right-nav .gnb li.login::before {
  width: 100%;
  height: 100%;
}
.right-nav .gnb li.join {
  background: var(--main-color);
  margin-right: 15px;
  color: #fff;
} 
.right-nav .gnb li a{
  display:block;
  width:100%;
  height:100%;
  border-radius: calc( 35px / 2 );
}/*-----------headerë------------*/
/*----------main------------*/
#main {
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
  height: 100vh;
  display: flex;
}
/*----------aside-----------*/
#aside {
  width: 300px;
  height: 100%;
  margin-right: 50px;
}
#aside h3 {
  width: 100%;
  line-height: 60px;
  border-bottom:1px solid rgb(153, 153, 153);
}
#aside ul {

}
#aside ul li {
  display: flex;
  justify-content: space-between;
  line-height:45px;
}
#aside ul li span{
  color:var(--main-color);
}

#sectionWrap {
  width: 100%;
  height: 100%;
  background: rgb(255, 255, 188);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#section1 {
  width: 100%;
  height: 30%;
  background: rgb(255, 182, 255);
}
#section1 > .title {
  height: 100px;
  border: 2px solid #0f0;
  margin: 2rem 2rem 2rem 0;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  line-height: 175%;
}
#section1 > .title > h2 {
  margin-left: 3rem;
  font-size: 1.5rem;
  font-weight: 900;
}
#section1 > .title > span {
  margin-left: 3rem;
  font-size: 0.8rem;
  color: rgb(70, 70, 70);
}
#section2 {
  width: 100%;
  height: 30%;
  background: rgb(255, 90, 134);
}
#section3 {
  width: 100%;
  height: 30%;
  background: rgb(133, 85, 23);
}
#footerWrap{}
#footer{}
#footer .footer{}
