body {      
    width: 100%; height: 100vh;
 }
#div1 {
     width: 448px; height: 670px;
     position: relative;
     margin:0 auto;
     top: 150px;
  }   
#div1 .logo {
     margin-left: auto;
     width: 65px;
     max-width: 100%;
     margin-right: auto;
     vertical-align: middle;
     display: block;
         }
#div1 h2 {     
     margin-top: 20px;
     font-weight: 700;
     font-size: 28px;
     text-align: center;
     letter-spacing: -1px
          }
#div1 .hh {       
       text-align: center;
       margin-top: 12px;
       font-size: 13px;
       color: #a3a4a7;
       margin-bottom: 30px;
           }
#form1 { 
       margin-top: 30px;
 }
#form1 label{
       display :block;
       font-size: 13px;
      }
#form1 .box {
       width: 448px; height: 42px;
       border-radius: 8px;
       border: 1px solid #d9d9db;
       margin-top: 8px;
       box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
       font-size: 16px;
       padding-left: 15px;
      }

#form1 .submit1 {
         width: 448px; height: 42px;
         border-radius: 8px;
         border: 1px solid var(--main-color);
         margin-top: 23px;
         background-color: var(--main-color);
         color: #fff;
         font-size: 15px;
           }