body {      
    width: 100%; height: 100vh;
 }
 /* ------------------------------------로고-------------------------------- */
#headerWrap {
     width: 448px; height: 670px;
     position: relative;
     margin:0 auto;
     top: 150px;
  }   
#headerWrap .logo {
     margin-left: auto;
     width: 65px;
     max-width: 100%;
     margin-right: auto;
     vertical-align: middle;
     display: block;
         }
#headerWrap h2 {     
     margin-top: 20px;
     font-weight: 700;
     font-size: 28px;
     text-align: center;
     letter-spacing: -1px
          }
#headerWrap .Explanation {       
       text-align: center;
       margin-top: 12px;
       font-size: 13px;
       color: #a3a4a7;
       margin-bottom: 30px;
           }
 /* ------------------------------------계정찾기-------------------------------- */

#findbox { 
       margin-top: 30px;
 }
#findbox label{
       display :block;
       font-size: 13px;
      }
#findbox .emailbox {
       width: 448px; height: 42px;
       border-radius: 8px;
       border: 1px solid #d9d9db;
       margin-top: 8px;
       box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
       font-size: 16px;
       padding-left: 15px;
      }
#findbox .find { 
     display: flex;
     width: 448px;
     height: 38px;
     justify-content: space-between;
             }

#findbox .cancle { 
          width: 215px; height: 38px;
          border-radius: 8px;
          border: 1px solid #d9d9db;
          margin-top: 23px;
          background-color: #fff;
          font-size: 15px;
          text-align : center;
                        }
 #findbox .findbutton {
          width: 215px; height: 38px;
          border-radius: 8px;
          border: 1px solid var(--main-color);
          margin-top: 23px;
          background-color: var(--main-color);
          color: #fff;
          font-size: 15px;
                  }
#findbox .cancle .canclelink {
          line-height: 38px;
          transform: translateY(-50%);
                         }